@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  /*временно*/
  outline: 5px solid rgba(255, 99, 78, 0.5);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
}
 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*Кнопки*/
.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  text-align: center;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.hotel-card-button-add {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: none;
}

/*<Шапка*/
.main-header{
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo {
  padding: 0 30px 0 70px;
  position: absolute;
  z-index: 1;
   /*временно*/
   outline: 5px solid rgba(125, 78, 255, 0.973);
}

.main-navigation {
  width: 1200px;
  display: flex;
  /*временно*/
  outline: 5px solid rgba(158, 255, 78, 0.973);
}

.navigation-list {
  width: 432px;
  margin: 0 0 0 238px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*временно*/
  outline: 5px solid rgba(233, 47, 47, 0.863);
}

.navigation-list .navigation-user {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user {
  max-width: 295px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
  /*временно*/
  outline: 5px solid rgba(20, 20, 20, 0.5);
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url(../images/header/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url(../images/header/add-to-favorites.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
  display: block;
  /*временно*/
  outline: 5px solid rgb(235, 255, 58);
}

.navigation-current::before {
  height: 2px;
  background-color: #756257;
  width: 68px;
  content: "";
  position: absolute;
  top: 63px;
  z-index: 1;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
}

/*Добро пожаловать в Седону*/
.welcom-sedona {
  background-image: url("../images/background-сanyon.jpg");
  background-color: 	#808080;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  padding-top: 51px;
  padding-bottom: 81px;
}
  
.welcom-sedona::after {
  content: "";
  background-image: url("../images/white-background.svg");
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 0;
  top: 428px;
  /*временно*/
  outline: 5px solid rgb(250, 237, 49);
}

/*Описание Седоны*/
.description-sedona {
background-color: #ffffff;
height: 282px;
/*временно*/
outline: 5px solid rgb(236, 39, 210);
}

.sedona {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 69px 290px 25px;
  margin: 0;
  /*временно*/
outline: 5px solid rgb(33, 245, 44);
}

.sedona-text{
  text-align: center;
  margin: 0;
  padding: 0 274px 90px 275px;
  /*временно*/
outline: 5px solid rgb(255, 198, 11);
}

/*Преимущества*/
.advantages {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  /*временно*/
outline: 5px solid rgb(7, 6, 4);
}

.advantages-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /*временно*/
outline: 5px solid rgb(255, 22, 22);
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  /*временно*/
outline: 5px solid rgb(182, 181, 179);
}

.advantages-description {
  margin: 0;
  padding-top: 30px;
}

.advantages-item-town {
  color: #ffffff;
  background-color: #82b3d3;
  width: 400px;
  min-height: 384px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-container {
  width: 230px;
}

.advantages-item-picture {
  list-style-type: none;
  display: block;
  height: 384px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item-brige {
  color: #ffffff;
  background-color: #82b3d3;
  width: 400px;
  min-height: 384;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item-food {
  background-color: #ffffff;
  width: 400px;
  min-height: 384px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 72px;
  width: 75px;
}

/*Поиск гостиницы в Седоне*/
.interest {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.interest-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 96px 451px 20px;
  margin: 0;
}

.interest-description {
  margin: 0;
  padding: 0 304px 62px;
  color: #333333;
}

.interest-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.container-link {
  padding: 0 412px 96px;
}

/*Рассылка*/
.newsletter {
  color: #ffffff;
  background-image: url("../images/background-newsletter.jpg");
  width: 1200px;
  height: 415px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 96px 398px 20px;
}

.newsletter-text {
  margin: 0;
  padding: 0 363px 54px;
}

.newsletter-form {
  padding: 0 258px 104px;
}

/*Подвал*/
.main-footer{
  background-color: #ffffff;
  width: 1200px;
  height: 120px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  /*временно*/
  outline: 5px solid rgba(125, 78, 255, 0.973);
}

.footer-social {
  width: 164px;
  height: 40px;
  padding: 45px 0 35px 70px;
  /*временно*/
  outline: 5px solid rgba(65, 248, 248, 0.973);
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  width: 142px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  /*временно*/
  outline: 5px solid rgba(96, 248, 65, 0.973);
}

.footer-social-item {
  width: 48px;
  height: 40px;
  /*временно*/
  outline: 5px solid rgba(248, 65, 65, 0.973);
}

/*Номер телефона*/
.footer-contact {
  text-align: center;
  padding: 45px 236px 35px;
  display: flex;
  /*временно*/
  outline: 5px solid rgba(248, 47, 198, 0.973);
}

.footer-contact-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  width: 331px;
  height: 40px;
  /*временно*/
  outline: 5px solid rgba(128, 128, 129, 0.973);
}

.logo-html-academy {
  padding: 49px 70px 39px 0;
}

/*Catalog*/
.main-current {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

/*Хлебные крошки*/
.catalog-hotels-filter {
  background-image: url("../images/catalog-page/background-filter.png");
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
  background-color: #82b3d3;
}

.inner-header {
  padding-bottom: 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  width: 494px;
  padding-bottom: 8px;
}

.breadcrumb {
  display: flex;
  min-width: 114px;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.breadcrumb-item-icon {
  padding-right: 29px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

/*Фильтер гостинец*/
.catalog-filter {
  display: flex;

}

.catalog-filter-group{
  width: 151px;
}

.catalog-сost {
  width: 288px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/*Каталог гостинец*/
.catalog-hotels {
  display: flex;
  width: 1060px;
  padding: 50px 70px 40px;
  justify-content: space-between;
}

.number-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.container-form {
  display: flex;
  width: 160px;
  height: 48px;
  justify-content:space-between;
  /*временно*/
  outline: 5px solid rgba(128, 128, 129, 0.973);
}

.button-table {
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  /*временно*/
  outline: 5px solid rgba(128, 128, 129, 0.973);
}

.button-slideshow {
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  /*временно*/
  outline: 5px solid rgba(128, 128, 129, 0.973);
}

.button-list {
  color: #000000;
  text-decoration: none;
  width: 48px;
  height: 48px;
  /*временно*/
  outline: 5px solid rgba(116, 116, 117, 0.973);
}

/*Карточки гостиниц*/
.wrapper-card {
  display: grid;
  width: 1060px;
  padding: 0 70px 80px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-title {
  margin: 0;
  padding: 16px 0;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-text-value {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-chosen {
  background-color: #7db54f;
}

.hotel-card-star {
  margin: 0;
}

.hotel-top-card {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/*Пагинация*/
.card-pagination {
  width: 1060px;
  display: flex;
  list-style-type: none;
  padding: 0 70px;
  margin: 0;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 0 13px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.pagination-choose {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-other {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
}

/*Рассылка*/
.newsletter-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}